<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">    <title>Welcome</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <style>
        .btn-sm{
            height: 25px;
            padding: 3px;
            font-size: 12px;
            margin: 0;
        }
        a{
            text-decoration: none!important;
        }
{#   ------------------------------------------------------------------------------------------------------------------------        #}
        div.row{
            margin-top: 20px;
        }
        blockquote{
            margin-left: 20px;
        }
        p.need{
            display: inline-block
        }
        form.form{
            display: inline-block;
        }


    </style>
    <script>
    $(document).ready(function(){
    });
    </script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/welcome">Project Name</a>
            <div>
                <span class="h6 text-light m-0 text-capitalize">Hello, <a class="text-light" href="/user/{{request.session.userID}}">{{request.session.name}}</a>  |  </span>
                <a href="/logout" class="btn btn-sm btn-dark">Log out</a>
                {% if request.session.user == 9 %}
                <a href="/admin" class="btn btn-sm btn-secondary">Admin</a>
                {% endif %}
            </div>
        </nav>
{#   ------------------------------------------------------------------------------------------------------------------------        #}

        <div class="row">
            <div class="col-md-8">
                <h3>Quotes</h3>
                {% for i in quotes reversed %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-capitalize">{{i.written.name}}</h5>
                        <blockquote> {{i.content}} </blockquote>
                        <p>Posted by: <a class="text-capitalize" href="/user/{{i.uploaded.id}}">{{i.uploaded.first_name}} {{i.uploaded.last_name}}</a> </p>
                        {% if i.uploaded.id == request.session.userID %}
                        <form action="/deletequote" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="quote" value="{{i.id}}">
                            <input class="btn-sm float-right"type="submit" value="delete">
                        </form>
                        {% endif %}
                        <p class="need">{{i.likes.count}} people like this</p>
                        <form class="form" action="/like/{{i.id}}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Like!">
                        </form>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="col-md4">
                <h3>Add a quote!</h3>
                <form action="/addquote" method="post">
                    {% csrf_token %}
                    <label for="author">Author:</label>
                    <input type="text" name="author"><br>
                    <label for="quote">Quote:</label>
                    <textarea name="quote"  cols="30" rows="5"></textarea><br>
                    <input type="submit" value="Add!">
                </form>
                {% for message in messages %}
                    {% if 'author' in message.tags %}
                        <span class="small text-danger ml-3 float-right ">{{message}}</span>
                    {% endif %}
                {% endfor %}
                <br>
                {% for message in messages %}
                    {% if 'quote' in message.tags %}
                        <span class="small text-danger ml-3 float-right ">{{message}}</span>
                    {% endif %}
                {% endfor %}
            </div>

        </div>

    </div>
</body>
</html>
